body {
  background-color: #E8A87C;
}

header {
  background-color: #F1F1F1;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div.relative {
  position: relative;
  center: 30px;
  border: 3px solid #73AD21;
}
h1 {
  color: #5D5C61;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}
img {
  border: 5px solid #555;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid #8D8741;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #BC986A;
  color: white;
}
	
#hobby1 {
  background-color: #DAAD86;
  color: black;
  padding: 40px;
  text-align: center;
}

#hobby2 {
  background-color: #659DBD;
  color: black;
  padding: 40px;
  text-align: center;
}

#hobby3 {
  background-color: #FBEEC1;
  color: black;
  padding: 40px;
  text-align: center;
}